%nav
  %ul.vert
    %li
      %h1 Крипто Украина
    %li
      Пишите лично
      %a{href: 'http://t.me/maxbugaenko'} @maxbugaenko
      Или
      %a{href: 'http://t.me/ukrainecrypto'} Подключайтесь
%section
  %article
    art 1
  %article
    art 2
.clear

