%img{src: url('images/bromvalerophenone.png'), width: '300px'}
%h1 Альфа-Бромвалерофенон 98%+
%ul.vert
  %li.bold
    %span.dlighted Мелкий, средний и крупный опт
  %li
    CAS номер
    %b 7295-44-5
  %li
    Наш телеграм
    %a.blue{href: 'http://t.me/bromzavod'} @bromzavod
  %li
    = "&#160;"
  %li
    Друзья, мы понимаем что рынок валерофенона перенасыщен кидалами, поэтому серьезным покупателям,
    будь то мелкий или крупный опт, предлагаем сначала получить бесплатную пробу, а в дальнейшем постепенно
    наращивать обороты, выстраивая историю отношений. Принимаем к оплате любую крипту. Условия доставки обсудим при переговорах. Ниже мы приводим
    ЯМР одной из наших партий. Любой профессиональный химик может дать оценку качеству нашего продукта.
  %li
    = "&#160;"
  %li
    %img{src: url('images/ymr.jpg')}
