%h2 Добавить позицию
%ul
  %li
    Выберите Розничные клады, если Вы не хотите страховать покупки этих позиций.
    %p
      %button{onclick: "location.href='#{url('/add_items')}'"}
        Розничные клады
  %li
    Выберите Оптовое предложение, если Вы предлагаете продукт оптом. Такие сделки страхуются в любом случае.
    %p
      %button{onclick: "location.href='#{url('/add_escrow')}'"}
        Оптовое предложение
  %li
    Выполню работу, ищу сотрудника, нарисую, отрисую и прочее. Сделки страхуются обязательно.
    %p
      %button{disabled: true}
        Сервис/Работа