%form{action: url('/api/save_item'), method: "POST", enctype: "multipart/form-data"}
  %input{type: "text", name: "client", value: "154"}
  %input{type: "text", name: "bot", value: "3"}
  %input{type: "text", name: "product", value: "7"}
  %input{type: "text", name: "long", value: "1"}
  %input{type: "text", name: "lat", value: "1"}
  %input{type: "text", name: "weight", value: "0.5г"}
  %input{type: "file", name: "image_file"}
  %button{type: "submit"} upload