.button-group
  %div
    %button.btn-icon-lightest.border-around-light{onclick: location("/task/#{task.id}/status/#{Task::MODERATION}")}
      %i.fa.fa-heart.icon-shadow-light.gray
  %div
    %button.btn-icon-lightest{onclick: location("/task/delete/#{task.id}")}
      %i.fa.fa-remove.icon-shadow-light.gray
