%title= PLATFORM_NAME
%meta{charset: 'UTF-8'}
%meta{'http-equiv': 'Content-Type', content: 'text/html; charset=utf-8'}
%meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
%script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'}
%script{src: 'https://www.google.com/jsapi'}
%link{type: 'text/css', src: '//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css'}
%script{src: 'https://code.jquery.com/ui/1.12.1/jquery-ui.js', rel: 'stylesheet'}
%script{src: url('chartkick.js'), rel: 'stylesheet'}

