.announcement
  %h2 Добро пожаловать, товарищи!
  %ul.vert
    %li
      1. Прочитайте
      %a{href: url('/help')} Вопросы/Ответы.
    %li 2. Привяжите Ваш акаунт к сервисному боту @DarksideRobot.
    %li 3. Покупайте или продавайте безопасно и прозрачно!
  %br
  %button{onclick: location("/newcomer_got_it")} Понятно
