- if !list.empty?
  %option{value: '', disabled: true, selected: true} Выберите фасовку
  - list.each do |price, details|
    %option{value: price}= "#{details.keys[0]} за #{hb_bot.amo(details.values[0])}"

