%ul.top-menu.big
  %li
    %a.bold.green.no-underline.huge{href: url('/')}
      Terminal_API
      %span.blue 1.0
  %li
  %li
    %a{href: '/tbr/api_stat'} Статистика
  %li
    %a{href: '/deposit_wex'} Ввести
  %li
    %a{href: '/cashout_wex'} Вывести
  %li
    %a{href: '/auth/exit'} Связь



