%ul.top-menu.big
  %li
    %a.bold.green.no-underline.huge{href: url('/')}
      Terminal_API
      %span.blue 1.0
  %li
  %li
    %a{href: '/intro#api'} Платежные API
  %li
    %a{href: '/intro#price'} Сколько стоит?
  %li
    %a{href: '/price#ref'} Реферальные
  %li
    %a{href: '/price#contact'} Связь
