%h3
  Веб API для проверки платежей в режиме реального времмени.
  %br
  Мы не касаемся Ваших денег, мы только сообщаем состояние транзакций.
%p
  %ul.vert
    %li Подтверждение платежа происходит в режиме реального времени.
    %li Ваш бот или сайт делает запрос на наше API с исхоодными данными платежа.
    %li
      В течение
      %b.blue 2 .. 20
      секунд API отвечает. Такжке API возвращает сумму платажа.
    %li Сейчас работают API для Qiwi РФ и EasyPay, Privat24, TokenBar, AlfaBank Украина
    %li Возможна разработка API под Ваши нужды.
    %li
      Услуги API стоят
      %b.blue 3%
      с оборота.
    %li
      Из них
      %b.blue 1%
      реферальские в течение 6 месяцец после начала сотрудничества.
    %li
      Для связи используйте телеграм
      %a.bold{href: 'http://t.me/mmds901'} @mmds901
%h3 Придумайте никнейм
%p
  Придумайте никнейм. Его Вы сможете поменять позднее.
  %br
  А сейчас в режиме реального времени мы подготовим для Вас все необходиимое для начала автопродаж.
%ul.vert
  %li
    %form{:method=>'post', :action=>'/tbr/register', autocomplete: 'on'}
      %input{type: 'text', name: 'shop_name', size: '20', placeholder: 'Ваш никнейм', required: true}
      %input{type: 'submit', value: 'Рагистрация'}
Или
%a.blue{href: url('')} авторизуйтесь,
если у Вас уже есть учетная запись.

