.feed.padding-around-large.left
  %p
    %b Your account has been locked.
    We noticed suspicious behaviour while
    monitoring your profile. We do care about
    our publishers and do not allow any kind of cheating.
  %p.gray
    If you disagree and want to try to prove us
    you're not a cheater, fill free to contact us
    %a.lnk{href: 'mailto:help@monsterticks.com'}
      help@monsterticks.com.
