%h2 У Вас недостаточно прав
%p
  У вас не достаточно прав, чтобы выполнить это действие.
  Либо просто успокойтесь и съешьте шоколадку, либо,
  %br
  если Вы всерьез уверены что Вы не ошиблись, свяжитесь
  администрацией магазина и требуйте больших прав. А пока удачи.
%p
  Вернитесь назад, чтобы продолжить работать с площадкой.
%p
  %button{type: 'submit', onclick: "javascript:location.href = history.back()"} Назад
