%h2 Вопросы и ответы
%ul.vert.blue
  %li
    %a{href: '#about'} Что такое Darkside?
  %li
    %a{href: '#how_to_register'} Как зарегистрироваться?
  %li
    %a{href: '#start_seller'} Что такое страховка?
  %li
    %a{href: '#start_seller'} Как начать розничные продажи через бот?
  %li
    %a{href: '#start_buyer'} Как начать покупать?
  %li
    %a{href: '#add_chat'} Как добавить свой чат в систему?
  %li
    %a{href: '#bot_banned'} Что делать если забанили бот?
  %li
    %a{href: '#pricing'} Сколько стоят услуги площадки?
  %li
    %a{href: '#create_shop'} Регистрация розничного или оптового магазина
  %li
    %a{href: '#prices'} Как настроить Цены?
  %li
    %a{href: '#payment_options'} Как настроить Методы оплаты?
  %li
    %a{href: '#activate_wex'} Как активировать WEX Coupon API?
  %li
    %a{href: '#team'} Как добавить сотрудника в команду?
  %li
    %a{href: '#cashout'} Можно ли вывести мой баланс?
  %li
    %a{name: '#referals'} Реферальная программа для всех
  %li
    %a{name: '#shop_referals'} Реферальная программа для оптовых клиентов
  %li
    %a{name: '#bonuses'} Настройки акций и бонусов
%a{name: 'about'}
%h3 Что такое Darkside?
%p
  Darkside - это интернет платформа, включающая в себя клирнет форум Darkside.biz, аренда отличного продающего Телеграм бота а так же бонусы, сопутствующие онлайн проектам.
  Все оптовые сделки страхуются системой автоматически.
  Все расчеты WEX USD кодами.
  Ввод и вывод WEX USD автоматический и моментальный.
  К оспоренным сделкам подключается арбитр и принимает окончательное решение.
  Во избежание недоразумений, переписку вести на сайте.
  Розничные сделки не страхуются.
%a{name: 'activate_wex'}
%h3 Как активировать WEX Coupon API?
%p
  %ul.vert
    %li Регистрируемся на сайте wex.nz
    %li
      Заходим на страницу
      %a{href: 'https://wex.nz/profile#api_keys'} API ключи
    %li Создаем ключ
    %li Запоминаем сразу же в админку Secret и Key
    %li
      Заходим на фирменый
      %a{href: 'https://wex.nz/profile#api_keys'} сайт поддержки wex.nz
      и регистрируемся там
    %li Пишем письмо с таким текстом: "Прошу активировать Coupon API для ключа _сюда вставить Key_"
    %li Ждем подтверждения
    %li Начинаем принимать WEX USD коды
%a{name: '#start_seller'}
%h3 Как начать розничные продажи через бот?
%p
  %ul.vert
    %li Активируйте функции продавца на странице настроек. Пока это бесплатно.
    %li На странице Цены установите цены на Вашу продукцию и укажите фасовку. Посмотрите в какой формат должны быть прведены цены.
    %li На странице Методы оплаты, добавьте методы оплаты, с которыми Вы будете работать. Заполняйте подсказанные Вам данные для каждого метода оплаты.
    %li Выключите любой метода оплаты, если необходимо.
    %li На странице Добавить позицию Выберите розничные клады, чтобы добавить розницу.
    %li Заполните все данные формы добавления клады и подтвердите.
    %li Клады можно добавлять в любом формате. Сюблюдайте формат один клад - одна строка.
    %li Теперь можете смело начинать продажи.
    %li Чтобы убедиться в работоспособности метода оплаты, проведите платеж самостоятельно.
%a{name: 'bot_banned'}
%h3 Что делать если забанили бот?
%p
  %ul.vert
    %li Чтобы зарегать новый бот, зайдите в @BotFather.
    %li Напишите /newbot.
    %li Введите название бота.
    %li Введите никнейм бота вместе со словом _bot или bot, как требует Телеграм.
    %li Возьмите данные, которые только что прислал Вам @BotFather и авторизуйтесь здесь в админке.
    %li Задйите в настройки, кликнув по Вашему нику справа вверху.
    %li Найдите раздел "Настройки Телеграм бота"
    %li В первое поле этого раздела введите ник бота, который Вы только что зарегали. БЕЗ окончания bot или _bot.
    %li Во второе поле введите Телеграм API токен.
    %li Сохраните настройки. Заполните все необзодимые поля в настройках.
    %li Вы успешно сменили ник и токен боту. Бот в работе.
%a{name: 'add_chat'}
%h3 Как добавить свой чат в систему?
%p
  %ul.vert
    %li В меню Реклама добавьте ваш чат. Введите его имя. Не никнейм.
    %li Добавьте в ваш чат бот @DarksideAdsBot.
    %li Напишите команду /activate_darkside.
    %li В списке доступных групп должен быть Ваш чат.
    %li Чтобы поменять настройки рекламного робота для Вашего чата, мышкой кликайте на значения в таблице. Чтобы сохранить нажмите Enter.
    %li Укажите текущее количество людей в чате.
    %li Укажите стоимость одного поста.
    %li Комиссию с каждой операции платят поровну покупатель и продавец рекламного поста.
%a{name: 'easypay_keeper'}
%h3 Как поменять кошелек Easypay магазина?
%p
  %ul.vert
    %li Зайдите в Easypay кошелек.
    %li Зайдите на страницу Выписка.
    %li Напишите команду /activate_darkside.
    %li В списке доступных групп должен быть Ваш чат.
    %li Чтобы поменять настройки рекламного робота для Вашего чата, мышкой кликайте на значения в таблице. Чтобы сохранить нажмите Enter.
    %li Укажите текущее количество людей в чате.
    %li Укажите стоимость одного поста.
    %li Комиссию с каждой операции платят поровну покупатель и продавец рекламного поста.

