%h2 Авторизация
%p
  Для того, чтобы войти в свою учетную запись, введите Ваш токен авторизации.
  %br
  Для полноценной работы кроме токена Вам не нужно больше ничего.
%form{:method=>'post', :action=>'/auth/do', autocomplete: 'on'}
  %input{:type=>'text', :name => 'token', :size=>'50', :placeholder=>'Ваш токен', required: true}
  -#%input{:type=>'text', :name => 'nick', :size=>'30', :placeholder=>'Имя бота', required: true}
  -#%input{:type=>'password', :name => 'pass', :size=>'20', :placeholder=>'Пароль бота', required: true}
  -#%br
  -#%input{:type=>'text', :name => 'operator', :size=>'25', :placeholder=>'Ваш никнейн', required: true}
  -#%input{:type=>'password', :name => 'operator_pass', :size=>'20', :placeholder=>'Ваш пароль', required: true}
  -#%br
  %button{:type=>'submit'} Авторизоваться
  -#%a.blue{href: url('/register')} Регистрация участников
%h3 Забыли токен?
%p.dark
  Чтобы напомнить токен авторизации перейдите в наш сервисный бот
  %span.blue.bold
    @DarksideRobot
  %br
  Нажмите кнопку "Получить токен" и следуйте инструкциям.
%h3 Нет акаунта?
%p.dark
  %a.blue{href: url('/register')}
    Ресгистрируйтесь
  и совершайте покупки безопасно.
  %br
  Бесплатно активируйте функции продавца и делайте гарантированные продажи.
  %br
  Чтобы узнать больше о системе прочитайте
  %a.blue{href: url('/help')} часто задаваемые вопросы.


