%h2 Регистрация
%ul.vert
  %li
    Розничный бот автопродаж.
  %li
    Автоматическое страхование сделок всех видов.
  %li
    Мультипользовательская система, уровни доступа.
  %li
    Автоматический прием EasyPay, WEX USD и Qiwi в ботах.
  %li
    Ввод и вывод баланса, внутренние переводы. Моментально.
  %li
    Рассылки клиентам ботов, реферальная программа для клиентов.
  %li
    Гибкие комиссионные, зависящие от оборота.
%h3 Придумайте никнейм
%p
  Придумайте никнейм. Его Вы сможете поменять позднее.
  %br
  А сейчас в режиме реального времени мы подготовим для Вас все необходиимое для начала автопродаж.
%ul.vert
  %li
    %form{:method=>'post', :action=>'/register', autocomplete: 'on'}
      %input{type: 'text', name: 'shop_name', size: '20', placeholder: 'Ваш никнейм', required: true}
      %input{type: 'submit', value: 'Рагистрация'}
Или
%a.blue{href: url('')} авторизуйтесь,
если у Вас уже есть учетная запись.

