%h3 Ваш акаунт
%h4 Токен авторизации
%p
  Все что нужно для входа в личный кабинет это токен авторизации. Ваш токен авторизации
  %br
  = icn('warning')
  %b Внимание!
  Сохраните этот токен, так как никакой возможности восстановить его не будет.
%p
  %b.blue= @hash
%h4 Открыть магазин
%p
  Для того чтобы открыть магазин, заполните форму.
%h4 Бот нотификатор
%p
  Для того, чтобы быстро реагировать на запросы Ваших клиентов, установите наш фирменный бот нотификатор
  %a{href: 'http://t.me/DarksideNotesBot'}= "@DarksideNotesBot"

